<template>
  <div>
    <Navbar />
    <nuxt />
  </div>
</template>

<style lang="scss">
@import "../node_modules/nord/src/sass/nord.scss";

$primary: $nord0;
$scheme-main: $nord6;
$scheme-main-bis: $nord5;
$scheme-main-ter: $nord4;
$light: $nord6;
$dark: $nord0;
$info: $nord15;
$success: $nord14;
$warning: $nord13;
$danger: $nord11;
$link: $nord10;
$navbar-dropdown-item-hover-background-color: $scheme-main-bis;
$text: $nord0;
$text-light: $nord6;

.toast-success {
  background-color: $nord14;
}
.toast-warning {
  background-color: $nord13;
}
.toast-info {
  background-color: $nord15;
}
.toast-error {
  background-color: $nord11;
}

@import "~bulma";
</style>

<script lang="ts">
import "@fortawesome/fontawesome-free/css/all.css";
import "toastr/build/toastr.css";
import Vue from "vue";
import Navbar from "../components/Navbar.vue";

export default Vue.extend({
  components: {
    Navbar
  }
});
</script>
