<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link to="/" class="navbar-item">openstocksim.com</nuxt-link>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarOptions"
        v-on:click="toggleBurgerMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarOptions" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">About</a>
          <div class="navbar-dropdown">
            <a
              href="https://gitlab.com/dill333/openstocksim"
              class="navbar-item"
              >Code</a
            >
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <nuxt-link
              class="button is-primary"
              to="/signup"
              v-if="!isAuthenticated"
            >
              <strong>Sign up</strong>
            </nuxt-link>
            <nuxt-link
              class="button is-light"
              to="/login"
              v-if="!isAuthenticated"
            >
              Log in
            </nuxt-link>
            <nuxt-link
              class="button is-light"
              to="/account"
              v-if="isAuthenticated"
            >
              Account
            </nuxt-link>
            <a
              class="button is-primary"
              v-on:click="logout"
              v-if="isAuthenticated"
            >
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  methods: {
    toggleBurgerMenu: function(event: any) {
      event.target.classList.toggle("is-active");
      const menuOptions = document.getElementById(event.target.dataset.target);
      if (menuOptions) {
        menuOptions.classList.toggle("is-active");
      }
    },
    logout: function(event: any) {
      this.$store.dispatch("authentication/authLogout").then(() => {
        this.$router.push("/login");
      });
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters["authentication/isAuthenticated"];
    }
  }
});
</script>
