<template>
  <section class="section">
    <div class="container">
      <div class="box is-centered">
        <div class="field">
          <label class="label">Username</label>
          <p>{{ username }}</p>
        </div>
        <div class="field">
          <label class="label">Email Address</label>
          <p>{{ email }}</p>
        </div>
        <div class="field">
          <label class="label">Email Confirmed?</label>
          <p>{{ emailConfirmed }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="less" scoped>
.container {
  max-width: 30em;
}
</style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      username: "",
      email: "",
      emailConfirmed: false
    };
  },
  methods: {
    getAccountData: async function() {
      let token = this.authToken;
      await this.$axios
        .$get("/account/accountdetails")
        .then((response: any) => {
          if (response !== null) {
            this.username = response.username;
            this.email = response.email;
            this.emailConfirmed = response.emailConfirmed;
          }
        });
    }
  },
  computed: {
    authToken: function(): string {
      return this.$store.getters["authentication/authToken"];
    }
  },
  mounted() {
    // See: https://github.com/robinvdvleuten/vuex-persistedstate/issues/227#issuecomment-551532285
    setTimeout(() => {
      this.getAccountData();
    }, 0);
  }
});
</script>
