<template>
  <section class="section">
    <div class="container">
      <div class="box is-centered">
        <div class="field">
          <p>
            Account created successfully! Please confirm your account before
            logging in.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="less" scoped>
.container {
  max-width: 30em;
}
</style>
