<template>
  <section class="section">
    <div class="container">
      <form class="box is-centered" v-on:submit.prevent="">
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="email"
              v-on:blur="setStartCheckingEmail"
              type="text"
              class="input"
              name="Email"
              placeholder="Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p class="help is-danger" v-if="!this.emailValid">
            Please enter a valid email
          </p>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="confirmToken"
              type="text"
              class="input"
              name="ConfirmToken"
              placeholder="Email Confirmation Token"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <button
            class="button is-primary is-fullwidth"
            v-on:click="this.sendConfirmEmail"
            v-bind:disabled="!canSubmit"
          >
            Confirm Email
          </button>
        </div>
      </form>
    </div>
  </section>
</template>

<style lang="less" scoped>
.container {
  max-width: 30em;
}
</style>

<script lang="ts">
import Vue from "vue";
import {
  AxiosError,
  AxiosRequestConfig,
  AxiosResponse,
  AxiosStatic
} from "axios";
import * as EmailValidator from "email-validator";
import * as toastr from "toastr";

export default Vue.extend({
  data() {
    return {
      email: "",
      confirmToken: "",
      startCheckingEmail: false
    };
  },
  methods: {
    sendConfirmEmail: async function() {
      if (this.canSubmit) {
        await this.$axios
          .$post("/account/confirmEmail", {
            email: this.email,
            confirmToken: this.confirmToken
          })
          .then(() => {
            toastr.success("Email confirmed!");
          })
          .catch((error: AxiosError) => {
            let errorMessage = error?.response?.data ?? "Unknown error!";
            toastr.error(errorMessage);
          });
      }
    },
    setStartCheckingEmail: function() {
      this.startCheckingEmail = true;
    }
  },
  computed: {
    emailValid: function(): boolean {
      return !this.startCheckingEmail || EmailValidator.validate(this.email);
    },
    canSubmit: function(): boolean {
      return EmailValidator.validate(this.email) && this.confirmToken !== "";
    }
  },
  mounted() {
    this.email = this.$route.query.email as string;
    this.confirmToken = this.$route.query.confirmToken as string;
    if (this.canSubmit) {
      this.sendConfirmEmail();
    }
  }
});
</script>
