<template>
  <section class="section">
    <div class="container">
      <form class="box is-centered" v-on:submit.prevent="">
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="usernameOrEmail"
              type="text"
              class="input"
              name="UsernameOrEmail"
              placeholder="Username or Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="password"
              type="password"
              class="input"
              name="Password"
              placeholder="Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <button
            class="button is-primary is-fullwidth"
            v-on:click="this.login"
            v-bind:disabled="!canSubmit"
          >
            Log in
          </button>
        </div>
        <div class="field">
          <nuxt-link class="button is-light is-fullwidth" to="/forgot-password">
            Forgot Password?
          </nuxt-link>
        </div>
        <div class="field">
          <nuxt-link
            class="button is-fullwidth"
            to="/resend-email-confirm"
            v-show="showResendConfirmationEmail"
          >
            Re-send email confirmation?
          </nuxt-link>
        </div>
      </form>
    </div>
  </section>
</template>

<style lang="less" scoped>
.container {
  max-width: 30em;
}
</style>

<script lang="ts">
import Vue from "vue";
import * as toastr from "toastr";

export default Vue.extend({
  data() {
    return {
      usernameOrEmail: "",
      password: "",
      submittedUsernameOrEmail: undefined as string | undefined
    };
  },
  methods: {
    login: async function() {
      if (this.canSubmit) {
        this.submittedUsernameOrEmail = this.usernameOrEmail;
        await this.$store
          .dispatch("authentication/authRequest", {
            usernameOrEmail: this.usernameOrEmail,
            password: this.password
          })
          .then(() => {
            if (this.loginError != "") {
              toastr.error(this.loginError);
            }
            if (this.isAuthenticated) {
              this.$router.push("/account");
            }
          });
      }
    }
  },
  computed: {
    canSubmit: function(): boolean {
      return this.usernameOrEmail !== "" && this.password != "";
    },
    loginError: function(): string {
      return this.$store.getters["authentication/authErrorMessage"];
    },
    loginErrorEnum: function(): number {
      return this.$store.getters["authentication/authErrorEnum"];
    },
    isAuthenticated: function(): boolean {
      return this.$store.getters["authentication/isAuthenticated"];
    },
    showResendConfirmationEmail: function(): boolean {
      return (
        this.loginErrorEnum === 1 &&
        this.usernameOrEmail === this.submittedUsernameOrEmail
      );
    }
  }
});
</script>
