<template>
  <section class="section">
    <div class="container">
      <form class="box is-centered" v-on:submit.prevent="">
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="email"
              v-on:blur="setStartCheckingEmail"
              type="text"
              class="input"
              name="Email"
              placeholder="Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p class="help is-danger" v-if="!this.emailValid">
            Please enter a valid email
          </p>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="passwordResetToken"
              type="text"
              class="input"
              name="PasswordResetToken"
              placeholder="Password Reset Token"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="newPassword"
              v-on:blur="setStartCheckingNewPassword"
              type="password"
              class="input"
              name="NewPassword"
              placeholder="New Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <p
              class="help is-danger"
              v-if="this.passwordIssues !== ''"
              v-html="passwordIssues"
            ></p>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="newPasswordConfirm"
              v-on:keyup="setStartCheckingNewPasswordConfirm"
              type="password"
              class="input"
              name="NewPasswordConfirm"
              placeholder="New Password Confirm"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="help is-danger" v-if="!this.passwordsMatch">
            Passwords must match
          </p>
        </div>
        <div class="field">
          <button
            class="button is-primary is-fullwidth"
            v-on:click="this.sendResetPassword"
            v-bind:disabled="!canSubmit"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </section>
</template>

<style lang="less" scoped>
.container {
  max-width: 30em;
}
</style>

<script lang="ts">
import Vue from "vue";
import {
  AxiosError,
  AxiosRequestConfig,
  AxiosResponse,
  AxiosStatic
} from "axios";
import * as EmailValidator from "email-validator";
import * as toastr from "toastr";
import PasswordValidator from "password-validator";

export default Vue.extend({
  data() {
    return {
      email: "",
      passwordResetToken: "",
      newPassword: "",
      newPasswordConfirm: "",
      startCheckingEmail: false,
      startCheckingNewPassword: false,
      startCheckingNewPasswordConfirm: false
    };
  },
  methods: {
    sendResetPassword: async function() {
      if (this.canSubmit) {
        await this.$axios
          .$post("/account/resetPassword", {
            email: this.email,
            resetToken: this.passwordResetToken,
            newPassword: this.newPassword
          })
          .then(() => {
            toastr.success(
              "Password updated! Please login with your new password."
            );
            // TODO: Forward to login?
          })
          .catch((error: AxiosError) => {
            // TODO: Fix this
            let errorMessage = error?.response?.data ?? "Unknown error!";
            toastr.error(errorMessage);
          });
      }
    },
    setStartCheckingEmail: function() {
      this.startCheckingEmail = true;
    },
    setStartCheckingNewPassword: function() {
      this.startCheckingNewPassword = true;
    },
    setStartCheckingNewPasswordConfirm: function() {
      this.startCheckingNewPasswordConfirm = true;
    }
  },
  computed: {
    emailValid: function(): boolean {
      return !this.startCheckingEmail || EmailValidator.validate(this.email);
    },
    passwordsMatch: function(): boolean {
      return (
        !this.startCheckingNewPasswordConfirm ||
        this.newPassword === this.newPasswordConfirm
      );
    },
    passwordIssues: function(): string {
      if (!this.startCheckingNewPassword) {
        return "";
      }
      let validator = new PasswordValidator();
      validator
        .is()
        .min(8)
        .has()
        .letters()
        .has()
        .uppercase()
        .has()
        .lowercase()
        .has()
        .digits()
        .has()
        .symbols();

      let errorMessages: { [id: string]: string } = {
        min: "Must be longer than 8 characters",
        letters: "Must include letters",
        uppercase: "Must include uppercase letters",
        lowercase: "Must include lowercase letters",
        digits: "Must include digits",
        symbols: "Must include special symbols"
      };

      let errors = validator.validate(this.newPassword, { list: true });
      let errorString = "";
      var errorsArray = errors as string[];
      if (errorsArray && errorsArray.length > 0) {
        for (let i = 0; i < errorsArray.length; i++) {
          errorString += errorMessages[errorsArray[i]] + "<br />";
        }
      }
      return errorString;
    },
    canSubmit: function(): boolean {
      return (
        EmailValidator.validate(this.email) &&
        this.passwordResetToken !== "" &&
        this.newPassword !== "" &&
        this.newPasswordConfirm !== "" &&
        this.passwordsMatch &&
        this.passwordIssues === ""
      );
    }
  },
  mounted() {
    this.email = this.$route.query.email as string;
    this.passwordResetToken = this.$route.query.passwordResetToken as string;
  }
});
</script>
