<template>
  <section class="section">
    <div class="container">
      <form class="box is-centered" v-on:submit.prevent="">
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="email"
              v-on:blur="setStartCheckingEmail"
              type="email"
              class="input"
              name="Email"
              placeholder="Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <p class="help is-danger" v-if="!this.emailValid">
            Please enter a valid email
          </p>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="username"
              type="text"
              class="input"
              name="Username"
              placeholder="Username"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="password"
              v-on:blur="setStartCheckingPassword"
              type="password"
              class="input"
              name="Password"
              placeholder="Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <p
              class="help is-danger"
              v-if="this.passwordIssues !== ''"
              v-html="passwordIssues"
            ></p>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              v-model="passwordConfirm"
              v-on:keyup="setStartCheckingPasswordConfirm"
              type="password"
              class="input"
              name="PasswordConfirm"
              placeholder="Confirm Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="help is-danger" v-if="!this.passwordsMatch">
            Passwords must match
          </p>
        </div>
        <div class="field">
          <div class="control buttons is-centered">
            <button
              class="button is-primary is-fullwidth"
              v-on:click="this.registerUser"
              v-bind:disabled="!canSubmit"
            >
              Sign up
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<style lang="less" scoped>
.container {
  max-width: 30em;
}
</style>

<script lang="ts">
import Vue from "vue";
import {
  AxiosError,
  AxiosRequestConfig,
  AxiosResponse,
  AxiosStatic
} from "axios";
import * as toastr from "toastr";
import * as EmailValidator from "email-validator";
import PasswordValidator from "password-validator";

export default Vue.extend({
  data() {
    return {
      email: "",
      username: "",
      password: "",
      passwordConfirm: "",
      startCheckingEmail: false,
      startCheckingPassword: false,
      startCheckingPasswordConfirm: false
    };
  },
  methods: {
    registerUser: async function(event: MouseEvent) {
      if (this.canSubmit) {
        await this.$axios
          .$post("/account/register", {
            email: this.email,
            username: this.username,
            password: this.password
          })
          .then(this.sendConfirmationEmail)
          .catch(function(error: AxiosError) {
            console.log(error);
            if (!error?.response?.statusText) {
              toastr.error("Unknown error!");
            } else if (error.response.data.errors) {
              let errorDescriptions = [];
              for (let i = 0; i < error.response.data.errors.length; i++) {
                errorDescriptions.push(
                  error.response.data.errors[i].description
                );
              }
              let errorStr = errorDescriptions.join("\n");
              toastr.error(errorStr);
            } else if (error.response.statusText) {
              toastr.error(error.response.statusText);
            }
          });
      }
    },
    sendConfirmationEmail: async function() {
      await this.$axios
        .$post("/account/sendConfirmationEmail", {
          email: this.email
        })
        .then(() => {
          this.$router.push("/account-created");
        });
    },
    setStartCheckingEmail: function() {
      this.startCheckingEmail = true;
    },
    setStartCheckingPassword: function() {
      this.startCheckingPassword = true;
    },
    setStartCheckingPasswordConfirm: function() {
      this.startCheckingPasswordConfirm = true;
    }
  },
  computed: {
    emailValid: function(): boolean {
      return !this.startCheckingEmail || EmailValidator.validate(this.email);
    },
    passwordsMatch: function(): boolean {
      return (
        !this.startCheckingPasswordConfirm ||
        this.password === this.passwordConfirm
      );
    },
    passwordIssues: function(): string {
      if (!this.startCheckingPassword) {
        return "";
      }
      let validator = new PasswordValidator();
      validator
        .is()
        .min(8)
        .has()
        .letters()
        .has()
        .uppercase()
        .has()
        .lowercase()
        .has()
        .digits()
        .has()
        .symbols();

      let errorMessages: { [id: string]: string } = {
        min: "Must be longer than 8 characters",
        letters: "Must include letters",
        uppercase: "Must include uppercase letters",
        lowercase: "Must include lowercase letters",
        digits: "Must include digits",
        symbols: "Must include special symbols"
      };

      let errors = validator.validate(this.password, { list: true });
      let errorString = "";
      var errorsArray = errors as string[];
      if (errorsArray && errorsArray.length > 0) {
        for (let i = 0; i < errorsArray.length; i++) {
          errorString += errorMessages[errorsArray[i]] + "<br />";
        }
      }
      return errorString;
    },
    canSubmit: function(): boolean {
      return (
        this.startCheckingEmail &&
        this.startCheckingPasswordConfirm &&
        this.email !== "" &&
        this.username !== "" &&
        this.password !== "" &&
        this.passwordConfirm !== "" &&
        this.emailValid &&
        this.passwordsMatch &&
        this.passwordIssues === ""
      );
    }
  }
});
</script>
